<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054622572850-q4js4td850jjvlel3bse11j0uso4tq3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054622572850-q4js4td850jjvlel3bse11j0uso4tq3c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1054622572850-j1llcr7lr75fienbiouola8lf56k08gc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD24uuzjjKCRRAsNazEIEBUxW14tVWU1Kc</string>
	<key>GCM_SENDER_ID</key>
	<string>1054622572850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieExplorerApp</string>
	<key>PROJECT_ID</key>
	<string>auth-37565</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-37565.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054622572850:ios:d3292d54deb1befdea372b</string>
</dict>
</plist>